{layout name="public/layout" /}
<script src="__STATIC__/public/up/jquery.uploadify.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/public/up/uploadify.css">
<div class="col-md-10">
  <div class="clearfix" line-height="60px">
      <ol class="breadcrumb" style="padding:14px;">
        <li><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;首页</a></li>
        <li><a href="#">轮播管理</a></li>
        <li class="active">轮播列表</li>
        <a href="" style="margin-top:-7px;" class="btn btn-success pull-right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;刷新</a>
      </ol>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <button class="btn btn-danger" onclick="delAll()"><span class="glyphicon glyphicon-trash"></span> 批量删除</button>
      <button class="btn btn-primary" data-toggle="modal" data-target="#add"><span class="glyphicon glyphicon-plus"></span> 添加轮播</button>
      <div class="pull-right" style="margin-left:30px;"><p class="tot">共有数据：<span id="tot" class="badge" style="background:#4098d2;"></span>&nbsp;条</p></div>
      <form class="form-inline pull-right" action="{:url('index')}" role="form" >
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="请输入要搜索内容">
        </div>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>&nbsp;搜索</button>
      </form>
    </div>
    <table class="table table-bordered table-striped table-hover">
       <tr >
           <th><input type="checkbox" name="" class="checkAll"></th>
           <th>Id</th>
           <th>图片</th>
           <th>链接</th>
           <th>排序</th>
           <th>操作</th>
       </tr>
       {volist name="data" id="dat"}
       <tr>
           <td><input type="checkbox" name="" class="checks"></td>
           <td>{$dat.id}</td>
           <td><img src="__STATIC__/uploads/{$dat.img}" alt="" width="80px" height="60px"></td>
           <td>{$dat.href}</td>
           <td>
               <input type="number" class="form-control" style="width:60px" mix="0" name="sort" value="{$dat.sort}" onblur="sort(this,{$dat.id})">
           </td>
           <td>
               <a href="{:url('del',['id'=>$dat.id])}" class="btn btn-sm btn-danger">
                 <span class="glyphicon glyphicon-trash"></span> 删除
               </a>
               <a href="{:url('update',['id'=>$dat.id])}" class="btn btn-sm btn-success">
                 <span class="glyphicon glyphicon-pencil"></span> 编辑
               </a>
           </td>
       </tr>
       {/volist}
    </table>  
    <div class="panel-footer">
        {$data->render()}
    </div>
  </div>
</div>


<!-- 添加弹出框 -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加轮播</h4>
      </div>
      <div class="modal-body">
        <form action="{:url('add')}" method="post">
          <div class="form-group">
            <label for="">图片</label>
            <div id="queue"></div>
            <input type="hidden" name="img" id="addImg" value="">
            <input id="file_upload" name="file_upload" type="file" multiple="true">
          </div>
          <div class="form-group">
            <label for="">链接</label>
            <input type="text" name="href" class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" value="提交" class="btn btn-success">
            <input type="reset" value="重置" class="btn btn-danger">
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<script type="text/javascript">
    //文件上传
    $(function() {
        $('#file_upload').uploadify({
            'swf'      : '__STATIC__/public/up/uploadify.swf',
            'uploader' : "{:url('ajax_upload')}",
            'buttonText':'上传图片',
            'fileObjName':'file',
            onUploadSuccess:function(file,data,response){     //返回值
                img="<img src='__STATIC__/uploads/"+data+"' width='80px' height='60px'>";
                $('#queue').html(img);
                $('#addImg').val(data);
            }
        });
    });
    //排序
    function sort(obj,id){
        num = $(obj).val();
        $.post("{:url('sort')}",{"sort":num,"id":id},function(data){
            if(data==1){
                $(this).val(num);
            }
        })
    }
</script>