<link rel="stylesheet" type="text/css" href="__STATIC__/home/list.css"  />
	{include file="public/header" /}
	<div class="content">
		<div class="content_home">
			<div class="home_left">
				<div class="hlgd">
					<div class="hlgd-title">
						<div class="hlgdttxt">科技头条</div><hr>
					</div>
					<div class="hlgd-content">
						<div class="hlgd-box">
							<dl>
								<dt>
									<a href="" target="_blank" title="5亿美元融资恐无法完成  法拉第未来该何去何从？ "> <img src="__STATIC__/home/1.jpg"  alt="5亿美元融资恐无法完成  法拉第未来该何去何从？ " width="250" height="165"/> 
									</a>
								</dt>
								<dd>
									<h3>
										<span class="dj">原创</span>
										<a href="" target="_blank" title="5亿美元融资恐无法完成  法拉第未来该何去何从？ ">5亿美元融资恐无法完成 法拉第未来该何去何从？ </a>
									</h3>
									<p>据外媒报道，曾经号称要超越特斯拉的贾跃亭面临着一个新障碍，据知情人士透露，他的美国电动汽车初创公司可能无法完成5亿美元的最新一轮融资。知情人士称，如果法拉第无法在12月之前完成A轮融资，就需要立...</p>
									<p>李晓荆 / 原创 / 2017-11-28 16:57</p>
								</dd>
							</dl>
						</div>
						<div class="hlgd-box">
							<dl>
								<dt>
									<a href="" target="_blank" title="5亿美元融资恐无法完成  法拉第未来该何去何从？ "> <img src="__STATIC__/home/1.jpg"  alt="5亿美元融资恐无法完成  法拉第未来该何去何从？ " width="250" height="165"/> 
									</a>
								</dt>
								<dd>
									<h3>
										<span class="dj">原创</span>
										<a href="" target="_blank" title="5亿美元融资恐无法完成  法拉第未来该何去何从？ ">5亿美元融资恐无法完成 法拉第未来该何去何从？ </a>
									</h3>
									<p>据外媒报道，曾经号称要超越特斯拉的贾跃亭面临着一个新障碍，据知情人士透露，他的美国电动汽车初创公司可能无法完成5亿美元的最新一轮融资。知情人士称，如果法拉第无法在12月之前完成A轮融资，就需要立...</p>
									<p>李晓荆 / 原创 / 2017-11-28 16:57</p>
								</dd>
							</dl>
						</div>
					</div>
					<div class="hlgd-page page-nav">
						<ul class='paginationall'>
							<a href="javascript:void(0);" class="prev disable">&lt;</a><a href="javascript:void(0);" class="current">1</a><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a><a href="">6</a><a href="">... 50</a><a href="" class="next">&gt;</a> 
						</ul>
					</div>
				</div>
			</div>
			{include file="public/right" /}
		</div>
	</div>
</div>
{include file="public/footer" /}
