<td><input type="checkbox" name="" value="{$dat.id}" class="checks"></td>
<td>{$dat.id}</td>
<td>{$dat.username}</td>
<td>{$dat.lastlogin==0?'从未登录':date("Y-m-d H:i:s",$dat.lastlogin)}</td>
<td>0</td>
<td>
  {if condition="$dat.status eq 1"}
  <button class="btn btn-sm btn-success" onclick="status(this,{$dat.id},{$dat.status})"><span class="glyphicon glyphicon-ok-circle"></span> 正常</button>
  {else /}
  <button class="btn btn-sm btn-warning" onclick="status(this,{$dat.id},{$dat.status})"><span class="glyphicon glyphicon-ban-circle"></span> 禁用</button>
  {/if}
</td>
<td>

	<button class="btn btn-sm btn-danger" onclick="del(this,{$dat.id})">
	  <span class="glyphicon glyphicon-trash"></span> 删除
	</button>
	<button class="btn btn-sm btn-success" data-toggle="modal" data-target="#edit" onclick="find({$dat.id})">
	  <span class="glyphicon glyphicon-pencil"></span> 编辑
	</button>
</td>